<% if (books ) {%> 
  <ul>
    <% books.forEach(book => { %> 
    
        
      <li><%= book.title %> by <%= book.author %> </li>
      <li><%= book.isbn %></li>
      

    <% }) %> 
  </ul>
<% } else {%>
  <p>Library is empty</p>  
  
<% } %> 