<% if (books ) {%> 
  <ul>
    <% books.forEach(book => { %> 
    
        
      <li>
        <a href="/library/<%= book.id %>"><%= book.title %> by <%= book.author %></a> 
      <li> <img src="<%= book.image %>" alt=""> </li>
      

    <% }) %> 
  </ul>
<% } else {%>
  <p>Library is empty</p>  
  
<% } %> 