<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Libros</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster+Two&family=Permanent+Marker&family=Train+One&family=Zilla+Slab:wght@300;400&display=swap" rel="stylesheet">
     <!-- Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
           
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper ">
          <a href="/" class="brand-logo">Libros</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
        
            
            <% if (!currentUser) { %>
              <li><a href="/">Welcome</a></li>
              <li><a href="/auth/signup">Signup</a></li>
              <li><a href="/auth/login">Login</a></li>
            <% } else { %>
              <!-- <li><a href="/home">Home</a></li> -->
              <li><a href="/library">Library</a></li>
              
              <li><a href="/auth/logout">Logout</a></li>
              <li><a href="/profile">Profile</a></li>
            <% } %>
          </ul>
        </div>  
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <% if (!currentUser) { %>
          <li><a href="/">Welcome</a></li>
          <li><a href="/auth/signup">Signup</a></li>
          <li><a href="/auth/login">Login</a></li>
        <% } else { %>
          <!-- <li><a href="/home">Home</a></li> -->
          <li><a href="/library">Library</a></li>
          
          <li><a href="/auth/logout">Logout</a></li>
          <li><a href="/profile">Profile</a></li>
        <% } %>
      </ul>
    </header>
    <!-- <main> -->
      <!-- <div class="container"> -->
        <%- include("partials/alerts") %>

      
        
        <%- body %>
        
      <!-- </div> -->
    <!-- </main> -->
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>   
  </body>
</html>
