
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e9fdfe;
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
  position: relative;
}
main {
  flex: 1 0 auto;
}
nav ul a {
  font-size: 20px !important;
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}
.sidenav {
  background-color: rgb(76 178 213) !important;
}
.sidenav li>a {
  font-size: 20px !important;
  padding-top: 15% !important;
  color: rgb(254 254 254) !important;
}
footer {
  padding-top: 0;
  text-align: right;
}
#footer {
  padding: 5px;
}
.container {
  margin-top: 2% !important;
}
#overlay {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0); 
  opacity: 0.3;
 
}
.alert {
  padding: 20px;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  /* margin-bottom: 15px; */
  font-weight: 400;
  font-size: 17px;
  z-index: 100;
}
.alert-success {
  background-color: #4CAF50;
}

.alert-error {
  background-color: #f44336;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
/* .icon-close {
  display: flex;
} */
.icon-close span {
  padding-right: 12px;
  float: left;
}
/* .main-photo {
 background-size: cover;
 margin-left: 10%;
} */
/* .search-card-img img {
  max-height: 242px;
} */
.search-card-content, .card-title{
  max-height: 88px;
  
}
.search-card-content, .card-title{
  font-size: 16px !important;
} 
h1 {
  font-family: 'Lobster Two', cursive;
}

img {
  max-width: 100%;
}
nav .brand-logo {
  margin-left: 15px;
}
.brand-logo {
  font-family: 'Train One', cursive;
}
nav .nav-wrapper {
  z-index: 1 ;
}
.nav-wrapper{
  background-color: rgb(52, 115, 144);
}

/* Add Book Page */
.search-results{
  margin-top: 10%;
}

/* Landing Page */
.home-page p {
  font-size: 20px;
  color: #9a9a9a;
  font-weight: 300;
  
}
.home-page{
  text-align: center;
}

/* Library Page */
.bookshelf {
  background-image: url(/images/bookshelf.png);
  /* background-size: cover; */
  background-repeat: repeat;
}
.library {
  position: relative;
}
.library-header {
  display: flex;
  align-items: flex-end;
}
.library-header h1{
  margin: 0;
}
.library p{
  font-size: 17px;
}
.library-message{
  color: white;
  font-weight: 400;
  padding-left: 2%;
}
.card-reveal h3 {
  font-size: 22px;
}
.detail-book-card{
  margin-top: 20% !important;
}
.collapsible h1 {
  margin-left: 4%;
  margin-top: 8%;
}
.collapsible-header {
  background-color: rgb(76 178 213) !important;
  font-size: 20px !important;
}
.collapsible-header i {
  font-size: 30px !important;
}
.collapsible-body {
  font-size: 16px;
}

.btn {
  background-color: rgb(52, 115, 144) !important;
}
.datepicker-date-display{
  background-color:  rgb(52, 115, 144) !important;
}
.datepicker-table td.is-selected {
  background-color: rgb(52, 115, 144) !important;
  
}
.datepicker-done, .datepicker-cancel{
  color: rgb(52, 115, 144) !important;
}
.datepicker-table td.is-today{
  color: rgb(52, 115, 144) !important;
}
.modal {
  width: 70% !important;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 40px !important;
  }
  
  .main-photo {
   
    margin-left: 0;
    margin-top: 23%;
  }
  .collapsible h1 {
    
    text-align: center;
  }
  .description  {
    height: 300px;
    overflow-y: scroll;
  }
  .detail-book-card{
    margin-top: 0 !important;
  }
  .library-header {
    display: block;
   
  }
  .library-header h1 {
    margin: 15px 0px;
}
}

@media only screen and (max-width: 992px){
  .modal {
    width: 100% !important;
  }
}
