nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}

.icon-close {
  display: flex;
}
.icon-close p {
  padding-right: 5px;
}
.main-photo {
 background-size: cover;
}
